.Links {
    display: flex;
    font-size: 15px;

    @media (min-width: 375px) and (max-width: 1440px) {
        font-size: 13px;
    }

    a:link,
    a:visited {
        color: #FFF;
        transition: all 0.2s ease;
        cursor: pointer;
        text-decoration: none;
        
    }

    img {
        margin-right: 19px;
        filter: brightness(0) invert(1);
    }

    &:nth-child(2),
    &:nth-child(4) {
        margin-left: 36.5px;
        
        @media (min-width: 375px) and (max-width: 1440px) {
            margin-left: 0;
        }
    }

    &:nth-child(2),
    &:nth-child(3) {
        cursor: pointer;
    }

}
