.Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    & h1 {
        // color: #FFF;
        font-size: 26px;
        font-weight: 700;
        line-height: 39px;
    }
}

// @media (prefers-color-scheme: light) {
//     .Header {
//         & h1 {
//           color: #222731;
//         }      
//     }
//   }